<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <a href="/">TodoApp</a>
    </header>
    <div class="main">
      <div class="todocontainer">
        <h2>することリスト</h2>
        <ol class="listcontainer">
          <li>
            <p>ID</p>
            <p>すること</p>
          </li>
          <li>
            <p>1</p>
            <p>仕事</p>
          </li>
          <li>
            <p>2</p>
            <p>食べる</p>
          </li>
          <li>
            <p>3</p>
            <p>寝る</p>
          </li>
        </ol>
      </div>
    </div>
  </body>
</html>