<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>TodoAppNodejs</title>
</head>
<body>
  <div class="top-wrapper">
    <div class="top-detail">
      <h1 class="title">TodoApp</h1>
      <h2 class="subtitle">することリスト</h2>
      <a href="/index" class="button">一覧を見る</a>
    </div>
  </div>
</body>
</html>